.wrapper {
    background-color: var(--c-bg-1);
    padding: 7px;
    border: 1px solid var(--c-outline-1);

    gap: 5px;
}

.topBar {
    height: 25px;
}

.topBar svg {
    height: 80%;
    transform: rotate(45deg);

    fill: var(--c-red-500);
}

.topBar svg:hover {
    fill: var(--c-red-700);
}
