.wrapper {
    --popup-width: 300px;
    --popup-height: 400px;

    --info-height: 15%;
    --chat-height: 85%;
    width: var(--popup-width);
    height: var(--popup-height);

    background-color: color-mix(in srgb, var(--c-bg-08) 80%, transparent);

    backdrop-filter: blur(5px);
    box-shadow: 0 0 5px var(--c-outline-2);
    border-radius: 5px;
}

.infoSection {
    height: var(--info-height);
    border-bottom: 1px solid var(--c-outline-2);

    cursor: move;
}

.infoSection, .noMessages {
    padding: 5px;
}


.controls {
    height: 25%;
}

.controls svg {
    height: 100%;
    transform: rotate(45deg);

    fill: var(--c-red-500);
    cursor: pointer;
}

.controls svg:hover {
    fill: var(--c-red-700);
}

.chatSection {
    height: var(--chat-height);
}

.noMessages {
    text-align: center;
}
