@import "tailwindcss";

:root {
    font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    overflow: hidden;

    --c-red-70: #3b1927;
    --c-red-100: #5e2331;
    --c-red-200: #6f2534;
    --c-red-300: #8a2740;
    --c-red-500: #aa3344;
    --c-red-700: #cc4334;
    --c-red-900: #e04f3a;

    --c-bg-08: #181421;
    --c-bg-09: #24202D;
    --c-bg-1:  #302C39;
    --c-bg-2:  #3B3844;
    --c-bg-3:  #47444F;
    --c-bg-5:  #525058;
    --c-bg-6:  #5E5D62;
    --c-bg-7:  #6A6A6A;
    --c-bg-8:  #777777;
    --c-bg-9:  #848484;
    --c-bg-10: #919191;
    --c-bg-12: #9E9E9E;
    --c-bg-13: #ABABAB;
    --c-bg-14: #B9B9B9;
    --c-bg-15: #C7C7C7;
    --c-bg-16: #D4D4D4;
    --c-bg-17: #E2E2E2;
    

    --c-input-bg: var(--c-bg-1);
    --c-input-bg-2: var(--c-bg-2);
    --c-input-bg-3: var(--c-bg-3);
    --c-input-outline: var(--c-bg-2);
    --c-input-outline-2: var(--c-bg-3);

    --c-outline-1: var(--c-bg-2);
    --c-outline-2: var(--c-bg-3);

    --c-text-1: var(--c-bg-17);
    --c-text-2: var(--c-bg-16);
    --c-text-3: var(--c-bg-15);


    --tab-manager-height: 35px;

    background-color: var(--c-bg-08);
    color: var(--c-text-1);
}

@theme {
    --color-red-70: var(--c-red-70)
    --color-red-100: var(--c-red-100);
    --color-red-200: var(--c-red-200);
    --color-red-300: var(--c-red-300);
    --color-red-500: var(--c-red-500);
    --color-red-700: var(--c-red-700);
    --color-red-900: var(--c-red-900);

    --color-input-bg: var(--c-input-bg);
    --color-input-bg-2: var(--c-input-bg-2);
    --color-input-bg-3: var(--c-input-bg-3);
    --color-input-outline: var(--c-input-outline);
    --color-input-outline-2: var(--c-input-outline-2);

    --color-bg-08: var(--c-bg-08);
    --color-bg-09: var(--c-bg-09);
    --color-bg-1: var(--c-bg-1);
    --color-bg-2: var(--c-bg-2);
    --color-bg-3: var(--c-bg-3);
    --color-bg-5: var(--c-bg-5);
    --color-bg-6: var(--c-bg-6);
    --color-bg-7: var(--c-bg-7);
    --color-bg-8: var(--c-bg-8);
    --color-bg-9: var(--c-bg-9);
    --color-bg-10: var(--c-bg-10);
    --color-bg-12: var(--c-bg-12);
    --color-bg-13: var(--c-bg-13);
    --color-bg-14: var(--c-bg-14);

    --color-outline-1: var(--c-outline-1);
    --color-outline-2: var(--c-outline-2);

    --color-text-1: var(--c-text-1);
    --color-text-2: var(--c-text-2);
    --color-text-3: var(--c-text-3);
}

#root {
    height: 100%;
}

body {
    width: 100vw;
    height: 100vh;
}


input, textarea, button, *[contenteditable="true"] {
    outline: none;
    border: 1px solid var(--c-input-outline);
    background-color: var(--c-input-bg);
    font: inherit;
    color: var(--c-text-2);
}

textarea {
    resize: none;
}

textarea, input, *[contenteditable="true"] {
    padding: 5px;
}

button {
    font-size: .8rem;
    padding: 0.3rem;

    border-radius: 5px;
}

textarea:focus, input:focus, *[contenteditable="true"]:focus {
    background-color: var(--c-input-bg-2);
}

textarea:hover, input:hover, *[contenteditable="true"]:hover {
    border: 1px solid var(--c-input-outline-2);
}

button:hover {
    background-color: var(--c-input-bg-3);
}


button:active {
    background-color: var(--c-input-bg-2);
}

::placeholder {
    color: var(--c-text-3);
}

/* CLASSES */

.fill {
  width: 100%;
  height: 100%;
}


/* display */
.inline {
    display: inline;
}


/* position */
.relative {
    position: relative;
}

.absolute, .absolute-tl {
    position: absolute;
}

.absolute-tl {
    top: 0;
    left: 0;
}

.fixed {
    position: fixed;
}


/* z-index */
.z-100 {
    z-index: 100;
}

.z-200 {
    z-index: 200;
}

.z-300 {
    z-index: 300;
}

.z-400 {
    z-index: 400;
}

.z-500 {
    z-index: 500;
}

.z-600 {
    z-index: 600;
}

.z-600 {
    z-index: 700;
}

.z-2000 {
    z-index: 2000;
}


/* text */

.ellipsis {
  overflow: hidden;
  white-space: nowrap!important;
  text-overflow: ellipsis;
}


/* profile */
.big-pfp {
    width: 300px;
    height: 300px;

    border-radius: 150px;
    border: 1px solid var(--c-outline-1);
}


/* misc */
.no-display {
    display: none;
}

.scroller, .scroller-y, .scroller-x {
    scrollbar-width: thin;
}

.scroller {
    overflow: auto;
}

.scroller-y {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroller-x {
    overflow-x: auto;
    overflow-y: hidden;
}
