.wrapper {
  width: 100%;
  height: var(--tab-manager-height);
  border-bottom: 1px solid var(--c-outline-2);
  --home-button-size: calc(var(--tab-manager-height) * 0.81);

  gap: 5px;

  padding: 2px;
}

.homeTab, .addTab {
    width: var(--home-button-size);
    height: var(--home-button-size);
}

.homeTab svg, .addTab svg {
    fill: var(--c-text-1);
}

.homeTab {
    border: 1px solid grey;
    border-radius: 5px;

    padding: 5px;
}

.homeTab[data-selected='true'] {
    background-color: var(--c-bg-5) !important;
}

.homeTab:hover {
    background-color: var(--c-bg-8);
}

.addTab {
    padding: 8px;
}

.addTab svg:hover {
    fill: var(--c-text-2);
    filter: brightness(0.9) drop-shadow(0 0 0 var(--c-outline-1));
}

.addTabPopup {
    --tab-padding: 5px;
    --remove-tab-size: calc(var(--tab-manager-height) * 0.8 - 2 * var(--tab-padding));
    --tab-max-width: 200px;
    --tab-min-width: 100px;
    border: 1px solid grey;
    border-radius: var(--tab-padding);

    font-size: 15px;
    padding: var(--tab-padding);

    height: calc(var(--tab-manager-height) * 0.81);
    background-color: var(--c-bg-09);
}

.addTabPopup, .addTabPopup input {
    max-width: var(--tab-max-width);
    min-width: var(--tab-min-width);
}

.addTabPopup input {
    height: 100%;
    background: none;
    border: none;
}
