.wrapper, .selectedWrapper {
  --tab-padding: 5px;
  --remove-tab-size: calc(var(--tab-manager-height) * 0.6 - 2 * var(--tab-padding));
  --tab-max-width: 200px;
  --tab-min-width: 100px;

  max-width: var(--tab-max-width);
  min-width: var(--tab-min-width);
  border: 1px solid grey;
  border-radius: var(--tab-padding);

  font-size: 15px;
  padding: var(--tab-padding);

  height: calc(var(--tab-manager-height) * 0.81);

  gap: 5px;

  user-select: none;
}

.selectedWrapper {
    background-color: var(--c-bg-5) !important;
}

.wrapper:hover, .selectedWrapper:hover {
    background-color: var(--c-bg-8);
}

.wrapper p, .selectedWrapper p {
    flex-grow: 2;
}

.removeTab {
  width: var(--remove-tab-size);
  height: var(--remove-tab-size);
}

.removeTab svg {
    transform: rotate(45deg);
    display: none;
}

.wrapper:hover svg, .selectedWrapper:hover svg {
    display: initial;
    fill: var(--c-red-200);

    filter: contrast(100%);
}

.wrapper svg:hover, .selectedWrapper svg:hover {
    fill: var(--c-red-300);
    filter: contrast(200%) drop-shadow(0 0 0 var(--c-red-300));
}
